{% extends 'base.html' %}

{% block content %}

<div class="container py-5">
    <div class="text-start mb-4">
        <a href="{% url 'dashboard' %}" class="btn btn-primary">
            <i class="bi bi-arrow-left"></i> Back to Dashboard
        </a>
    </div>
    <div class="card shadow">

        <div class="card-body">

            <h1 class="text-center mb-4">
                Food Details
            </h1>

            <div class="row">

                <!-- Food Image -->
                <div class="col-md-6 text-center">

                    {% if food.img %}
                        <img
                            src="{{ food.img.url }}"
                            class="img-fluid rounded"
                            style="max-height: 400px;"
                            alt="{{ food.name }}"
                        >
                    {% else %}
                        <p class="text-muted">
                            No image available
                        </p>
                    {% endif %}

                </div>

                <!-- Food Details -->
                <div class="col-md-6">

                    <h2>{{ food.name }}</h2>

                    <hr>

                    <p>
                        <strong>Price:</strong>
                        ₹{{ food.price }}
                    </p>

                    <p>
                        <strong>Category:</strong>
                        {{ food.category }}
                    </p>

                    <p>
                        <strong>Restaurant:</strong>
                        {{ vendor.restaurant_name }}
                    </p>

                    <p>
                        <strong>Vendor:</strong>
                        {{ vendor.vendor_name }}
                    </p>

                    <p>
                        <strong>City:</strong>
                        {{ vendor.city }}
                    </p>

                    <p>
                        <strong>Address:</strong>
                        <i>
                        {{ vendor.address1 }},
                        {{ vendor.address2 }},
                        {{vendor.city}},
                        {{ vendor.zipcode }}

                        </i>

                    </p>


                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}