{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container py-5">

    <div class="card">

        <div class="card-body">

            <h1 class="text-center fw-bold mb-4">
                Food Menu Registration
            </h1>


            <!-- Logged in vendor -->

            <div >

                <strong>Restaurant:</strong>
                {{ vendor.restaurant_name }}

                <br>

                <strong>Vendor:</strong>
                {{ vendor.vendor_name }}

            </div>
            <br>


            <form method="post" enctype="multipart/form-data">

                {% csrf_token %}


                <div class="row">

                    <div class="col-md-6">
                        {{ form1.name|as_crispy_field }}
                    </div>

                    <div class="col-md-6">
                        {{ form1.price|as_crispy_field }}
                    </div>

                </div>


                <div class="row">

                    <div class="col-md-6">
                        {{ form1.img|as_crispy_field }}
                    </div>

                    <div class="col-md-6">
                        {{ form1.category|as_crispy_field }}
                    </div>

                </div>


                <button type="submit" class="btn btn-primary mt-3">
                    Add Menu
                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}