
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-6">
                    <h2>{{user.username }}'s Profile</h2>
                    <h5> Email : {{ user.email }} </h5>
                    <h5> Age : {{user.userdetails.age }} </h5>
                    <h5> Phone : {{ user.userdetails.phone}} </h5>
                    <h5> House No : {{ user.userdetails.house_no}} </h5>
                    <h5>City : {{ user.userdetails.city }} </h5>
                    <h5> Address : {{ user.userdetails.address }} </h5>
                    <a class="btn btn-primary" href = "{% url 'update' %}"> Update Profile</a>
                    
                </div>
            
                <div class="col-md-6">
                    <h5>User Profile Pic..</h5>
                    {% if user.userdetails.userpic %}
                        <img style="width: 30vh; height : 30vh;  border : 2px red dashed; border-radius : 50% ;" src="{{user.userdetails.userpic.url }}" alt="No Img">
                    {% else %}
                        <p>No Img</p>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}