<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One</title>
</head>
<body>

    <h1> This is the first page</h1>

    {% for i in names %}

        <p> {{ forloop.counter }}.{{ i }}</p>            <!-- Use forloop.counter to count the loop iteration ..-->

    {% endfor %}

    <hr>
    <table border = '2px' , cellpadding = '2px' , cellspacing = '2px'>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Degree</th>
            <th>streams</th>
            <th>Address</th>
            <th>Marks</th>
            <th>Grade</th>
            <th>Skills</th>
        </tr>
        {% for i in std_details %}
            <tr>
                <td>{{ i.name }}</td>
                <td>{{ i.age }}</td>
                <td>{{ i.degree }}</td>
                <td>{{ i.streams }}</td>
                <td>{{ i.address }}</td>
                <td>{{ i.marks }}</td>
                <td>{{ i.grade }}</td>
                <td> {{ i.skills }} </td>
            </tr>
        {% endfor %}
    </table>

    <hr>
    <h1> Students who scored more than 70</h1>

    {% for std in std_details %}

        {% if std.marks >= 70 %}
            <h3> {{ std.name }}</h3>

        {% endif %}
    {% endfor %}
    
</body>
</html>