<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>secondpage</title>
</head>
<body>
    <h1>This is the 2nd page</h1>

    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque mollitia deleniti repellendus omnis officia magnam libero ducimus voluptates ipsam consequuntur. Recusandae rem rerum ducimus quod deserunt perspiciatis, fuga quidem sapiente.
    Rerum debitis officiis veniam quod repellat assumenda dicta facere velit suscipit. Natus distinctio consequatur id iste, totam rerum, quasi repellendus modi beatae nesciunt quaerat repudiandae tempora vero, animi culpa nostrum.
    Similique obcaecati doloribus, fugiat sit provident, natus quas vitae, accusamus adipisci nisi eligendi assumenda quaerat nobis a facilis illum! Voluptate consequuntur dolorum, placeat voluptatibus quis unde. Expedita necessitatibus debitis quam?
    Eaque harum exercitationem mollitia, odio dolorum rerum consectetur quod asperiores? Illum laudantium quaerat, error, assumenda maiores illo blanditiis est unde id, dignissimos similique inventore ab sit. Pariatur laborum accusamus earum.
    Quis nemo fugit quia mollitia est minima libero alias, assumenda quos nulla minus, maiores corrupti aut error nisi hic eos obcaecati nostrum pariatur facilis tenetur exercitationem placeat? Commodi, placeat accusamus.
</body>
</html>