<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>third page</title>
</head>
<body>
    

    <h1>This is the third page</h1>
    <hr>

    <hr>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde commodi quos sunt, molestias consequuntur alias, accusantium molestiae, libero a facilis cumque impedit officia nisi aspernatur ex ducimus illum magni sequi.
    Dolorum odio quibusdam distinctio iusto natus debitis nihil odit consequuntur, laudantium facere molestias expedita fugit quisquam mollitia soluta inventore beatae temporibus quasi error numquam sed molestiae necessitatibus. Maxime, officia libero?
</body>
</html>